<div class="col-xs-12" *ngIf="items.length === 0">
  <h3>Não há itens no seu carrinho. Que tal começar por
  <a [routerLink]="['/restaurants']">aqui</a>?</h3>
</div>
<div class="col-xs-12 table-responsive" *ngIf="items.length > 0">
  <table class="table table-striped">
    <thead>
      <tr>
        <th class="text-center">Quantidade</th>
        <th>Item</th>
        <th>Descrição</th>
        <th>Preço</th>
        <th class="text-right">Subtotal</th>
        <th class="text-right"></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of items">
        <td class="text-center">
          <a (click)="emitDecreaseQty(item)" class="btn btn-sm">
            <i class="fa fa-minus"></i></a>
            {{item.quantidade}}
          <a (click)="emitIncreaseQty(item)" class="btn btn-sm">
            <i class="fa fa-plus"></i></a>
        </td>
        <td>{{ item.itemCardapio.name }}</td>
        <td>{{ item.itemCardapio.description }}</td>
        <td>{{ item.itemCardapio.price | currency: 'BRL' }}
          <span class="text-blue" *ngIf="item.quantidade > 1">x{{item.quantidade}}</span>
        </td>
        <td class="text-right">{{ item.value() | currency: 'BRL' }}</td>
        <td class="text-right">
          <a (click)="emitRemove(item)" class="btn btn-sm danger"><i class="fa fa-trash"></i></a>
        </td>
      </tr>
    </tbody>
  </table>
</div>
