<!-- INÍCIO DO CONTEÚDO -->
<section class="content-header">
  <h1>

  </h1>
</section>


<section class="content">

  <div class="row">
    <div class="col-xs-12">
      <div class="box box-solid">
        <div class="box-header with-border">
          <a (click)="back()"> <i class="back fa fa-chevron-left"></i></a>

          <h1 class="box-title">{{restaurant?.name}}</h1><span class="pull-right"><i class="fa fa-star"></i> {{restaurant?.rating}}</span>
        </div>
        <!-- /.box-header -->
        <div class="box-body">
          <div class="col-sm-3 col-xs-12" *ngIf="restaurant">
            <img class="box-img-detail" [src]="restaurant.imagePath" />
          </div>

          <dl class="col-sm-9 col-xs-12">
            <dt>Quem somos</dt>
            <dd>{{restaurant?.about}}</dd>
            <dt>Horários</dt>
            <dd>{{restaurant?.hours}}</dd>
            <dt>Taxa de Entrega</dt>
            <dd>{{restaurant?.deliveryPrice | currency: 'BRL'}}</dd>
            <dd><button *ngIf="!restaurant?.favorite" title="Favoritar"
                        (click)="favoriteRestaurant()" class="btn btn-danger">
              <i class="fa fa-heart-o"></i></button>
            <button *ngIf="restaurant?.favorite" title="Desfavoritar"
                    (click)="favoriteRestaurant()" class="btn btn-success">
              <i class="fa fa-heart"></i></button></dd>
          </dl>


        </div>
        <!-- /.box-body -->
        <div class="box-footer detail-footer">
          <a class="pull-left" [routerLink]="['cardapio']"
          routerLinkActive="detail-active">
            Cardápio
          </a>
          <a class="pull-right" [routerLink]="['avaliacoes']"
             routerLinkActive="detail-active">
            Avaliações
          </a>
        </div>
      </div>
    </div>
    <!-- /.col-xs-12 -->

  </div>


  <div class="row">
    <router-outlet></router-outlet>
  </div>

</section>
<!-- FIM DO CONTEÚDO -->
